body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://www.telegraph.co.uk/content/dam/Pets/spark/pets-at-home-2017/fluffy-white-puppy.jpg?imwidth=450');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

#myName{
  font-size:32px;
   color: green;
}
.topthreeparagraphs {
  color: blue;
}

#firstFav{
  font-size:50px
    font-weight:500;
    color: blue;
  justify-content: center;
}

#secondFav{
  font-size: 40px;
  font-weight: 351;
    color: green;
  justify-content: center;
}
#thirdFav{
  font-size: 34px;
     font-weight: 340;
    color: brown;
  justify-content: center;
}
#fourthFav{
  font-size: 35px;
     font-weight: 350;
    color: pink;
  justify-content: center;

}
#Q1{
  font-size: 40px;
 font-family: Georgia, serif;
    color: green;
}
#Q2{
  ont-size: 34px;
     font-family: serif;
    color: brown;
}
#Q3{
  font-size: 35px;
     font-family: Palatino;
    color: pink;
}
#quotes{
  justify-content: center;
  font-weight: bold
}
